# Server Config
NODE_ENV="development"
SERVER_PORT="5000"
API_VERSION="v1"
FRONTEND_URL="http://localhost:5173"

#Bcrypt Config
SALT_ROUNDS=10

# MongoDB Config
MONGO_URI="mongodb://mongo:27017/api_monitoring?replicaSet=rs0"
MONGO_DB_NAME="api_monitoring"

# PostgreSQL Config
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DATABASE="api_monitoring"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="12125"

# RabbitMQ Config
RABBITMQ_URL="amqp://user:12125@rabbitmq:5672/api_monitoring"
RABBITMQ_QUEUE="api_hits"
RABBITMQ_PUBLISHER_CONFIRMS="true"
RABBITMQ_RETRY_ATTEMPTS="3"
RABBITMQ_RETRY_DELAY="1000"

# Rate Limiting Config
RATE_LIMIT_WINDOW_MS="900000"
RATE_LIMIT_MAX_REQUESTS="1000"

#JWT Config
JWT_TOKEN_COOKIE_SECURE=true
JWT_TOKEN_COOKIE_HTTP_ONLY=true
JWT_TOKEN_COOKIE_SAME_SITE=none
JWT_TOKEN_ISSUER="com.user.app"

JWT_TOKEN_ACCESS_SECRET="JWT_SECRET"
JWT_TOKEN_REFRESH_SECRET="JWT_SECRET"

ACCESS_TOKEN_EXPIRY=900
ACCESS_TOKEN_COOKIE_NAME="access-token"
REFRESH_TOKEN_EXPIRY=604800
REFRESH_TOKEN_COOKIE_NAME="refresh-token"
REFRESH_COOKIE_MAX_AGE=604800000
ACCESS_COOKIE_MAX_AGE=900000

# Super Admin Config
SUPER_ADMIN_NAME="name"
SUPER_ADMIN_USERNAME="username"
SUPER_ADMIN_EMAIL="email"
SUPER_ADMIN_PASSWORD="password"

#Email Config
EMAIL_PASSWORD="pass"
EMAIL_USER="email"